openapi: 3.2.0
info:
  title: Synopsys Polaris Scans API
  description: The Synopsys Polaris Software Integrity Platform API provides programmatic access to application security testing operations including project management, scan triggering, issue retrieval, and reporting. Polaris integrates with major SCMs and CI/CD systems to enable event-driven security testing automation.
  version: '1.0'
  contact:
    url: https://polaris.synopsys.com/developer/default/documentation
servers:
- url: https://polaris.synopsys.com/api/v1
  description: Polaris API
security:
- bearerAuth: []
tags:
- name: Scans
  description: Trigger and manage security scans.
paths:
  /jobs/runs:
    get:
      operationId: listScans
      summary: List Scans
      description: Retrieves a list of scan runs with their status and results.
      tags:
      - Scans
      parameters:
      - name: projectId
        in: query
        schema:
          type: string
      - name: branchId
        in: query
        schema:
          type: string
      - name: status
        in: query
        schema:
          type: string
          enum:
          - queued
          - running
          - completed
          - failed
      responses:
        '200':
          description: Scan list returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanList'
  /jobs/runs/{runId}:
    get:
      operationId: getScan
      summary: Get Scan Run
      description: Retrieves details for a specific scan run.
      tags:
      - Scans
      parameters:
      - name: runId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Scan details returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Scan'
components:
  schemas:
    ScanList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Scan'
    Scan:
      type: object
      properties:
        id:
          type: string
        projectId:
          type: string
        branchId:
          type: string
        status:
          type: string
          enum:
          - queued
          - running
          - completed
          - failed
        scanType:
          type: string
          enum:
          - sast
          - sca
          - iast
        startedAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
        issueCount:
          type: integer
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Access token obtained from Polaris portal
