openapi: 3.2.0
info:
  title: Synopsys Polaris Issues API
  description: The Synopsys Polaris Software Integrity Platform API provides programmatic access to application security testing operations including project management, scan triggering, issue retrieval, and reporting. Polaris integrates with major SCMs and CI/CD systems to enable event-driven security testing automation.
  version: '1.0'
  contact:
    url: https://polaris.synopsys.com/developer/default/documentation
servers:
- url: https://polaris.synopsys.com/api/v1
  description: Polaris API
security:
- bearerAuth: []
tags:
- name: Issues
  description: Retrieve and manage security issues.
paths:
  /issues:
    get:
      operationId: listIssues
      summary: List Issues
      description: Retrieves security issues found by Polaris scans across SAST, SCA, and IAST testing types.
      tags:
      - Issues
      parameters:
      - name: projectId
        in: query
        schema:
          type: string
      - name: branchId
        in: query
        schema:
          type: string
      - name: severity
        in: query
        schema:
          type: string
          enum:
          - critical
          - high
          - medium
          - low
      - name: type
        in: query
        schema:
          type: string
          enum:
          - sast
          - sca
          - iast
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: Issues list returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssueList'
  /issues/{issueId}:
    get:
      operationId: getIssue
      summary: Get Issue
      description: Retrieves details for a specific security issue.
      tags:
      - Issues
      parameters:
      - name: issueId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Issue details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Issue'
components:
  schemas:
    Issue:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
          - sast
          - sca
          - iast
        severity:
          type: string
          enum:
          - critical
          - high
          - medium
          - low
        name:
          type: string
        description:
          type: string
        cwe:
          type: string
        cve:
          type: string
        filePath:
          type: string
        lineNumber:
          type: integer
        status:
          type: string
          enum:
          - open
          - dismissed
          - fixed
    IssueList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Issue'
        meta:
          type: object
          properties:
            totalCount:
              type: integer
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Access token obtained from Polaris portal
