openapi: 3.2.0
info:
  title: Synopsys Polaris Projects API
  description: The Synopsys Polaris Software Integrity Platform API provides programmatic access to application security testing operations including project management, scan triggering, issue retrieval, and reporting. Polaris integrates with major SCMs and CI/CD systems to enable event-driven security testing automation.
  version: '1.0'
  contact:
    url: https://polaris.synopsys.com/developer/default/documentation
servers:
- url: https://polaris.synopsys.com/api/v1
  description: Polaris API
security:
- bearerAuth: []
tags:
- name: Projects
  description: Project and branch management.
paths:
  /portfolios/projects:
    get:
      operationId: listProjects
      summary: List Projects
      description: Retrieves a list of application security projects registered in the Polaris platform.
      tags:
      - Projects
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: filter
        in: query
        schema:
          type: string
        description: Filter expression.
      responses:
        '200':
          description: Project list returned
          content:
            application/vnd.polaris.portfolios-1+json:
              schema:
                $ref: '#/components/schemas/ProjectList'
        '401':
          description: Unauthorized
  /portfolios/projects/{projectId}:
    get:
      operationId: getProject
      summary: Get Project
      description: Retrieves details for a specific security project.
      tags:
      - Projects
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Project details
          content:
            application/vnd.polaris.portfolios-1+json:
              schema:
                $ref: '#/components/schemas/Project'
        '404':
          description: Project not found
  /portfolios/branches:
    get:
      operationId: listBranches
      summary: List Branches
      description: Retrieves branches for projects in the Polaris platform.
      tags:
      - Projects
      parameters:
      - name: projectId
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Branch list returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BranchList'
components:
  schemas:
    Project:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        organization:
          type: string
        createdAt:
          type: string
          format: date-time
        branches:
          type: array
          items:
            type: string
    BranchList:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
              projectId:
                type: string
    ProjectList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Project'
        meta:
          type: object
          properties:
            totalCount:
              type: integer
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Access token obtained from Polaris portal
