openapi: 3.1.0
info:
  title: Synopsys Cloud OpenLink Entitlements Reports API
  description: The Synopsys Cloud OpenLink API enables semiconductor vendors to interoperate with Synopsys Cloud for managing product entitlements and license distribution. Vendors register endpoints during onboarding and respond to license queries from Synopsys Cloud. The API supports both synchronous and asynchronous license file delivery.
  version: '1.0'
  contact:
    url: https://www.synopsys.com/cloud/openlink/api.html
servers:
- url: https://api.synopsys.com/openlink/v1
  description: Synopsys Cloud OpenLink API
security:
- apiKeyAuth: []
- oauth2: []
tags:
- name: Reports
  description: Generate and retrieve security reports.
paths:
  /reports:
    post:
      operationId: generateReport
      summary: Generate Report
      description: Initiates generation of a security report for a project or branch.
      tags:
      - Reports
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportRequest'
      responses:
        '202':
          description: Report generation started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportJob'
  /reports/{reportId}:
    get:
      operationId: getReport
      summary: Get Report
      description: Retrieves a generated security report.
      tags:
      - Reports
      parameters:
      - name: reportId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Report content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
        '202':
          description: Report still generating
components:
  schemas:
    ReportJob:
      type: object
      properties:
        reportId:
          type: string
        status:
          type: string
          enum:
          - pending
          - generating
          - ready
    Report:
      type: object
      properties:
        reportId:
          type: string
        projectId:
          type: string
        format:
          type: string
        generatedAt:
          type: string
          format: date-time
        downloadUrl:
          type: string
    ReportRequest:
      type: object
      required:
      - projectId
      - format
      properties:
        projectId:
          type: string
        branchId:
          type: string
        format:
          type: string
          enum:
          - pdf
          - json
          - csv
        includeFixed:
          type: boolean
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key-based authentication
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.synopsys.com/oauth/token
          scopes:
            openlink: Access OpenLink API
