openapi: 3.1.0
info:
  title: Synopsys Cloud OpenLink Entitlements Projects API
  description: The Synopsys Cloud OpenLink API enables semiconductor vendors to interoperate with Synopsys Cloud for managing product entitlements and license distribution. Vendors register endpoints during onboarding and respond to license queries from Synopsys Cloud. The API supports both synchronous and asynchronous license file delivery.
  version: '1.0'
  contact:
    url: https://www.synopsys.com/cloud/openlink/api.html
servers:
- url: https://api.synopsys.com/openlink/v1
  description: Synopsys Cloud OpenLink API
security:
- apiKeyAuth: []
- oauth2: []
tags:
- name: Projects
  description: Project and branch management.
paths:
  /portfolios/projects:
    get:
      operationId: listProjects
      summary: List Projects
      description: Retrieves a list of application security projects registered in the Polaris platform.
      tags:
      - Projects
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: filter
        in: query
        schema:
          type: string
        description: Filter expression.
      responses:
        '200':
          description: Project list returned
          content:
            application/vnd.polaris.portfolios-1+json:
              schema:
                $ref: '#/components/schemas/ProjectList'
        '401':
          description: Unauthorized
  /portfolios/projects/{projectId}:
    get:
      operationId: getProject
      summary: Get Project
      description: Retrieves details for a specific security project.
      tags:
      - Projects
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Project details
          content:
            application/vnd.polaris.portfolios-1+json:
              schema:
                $ref: '#/components/schemas/Project'
        '404':
          description: Project not found
  /portfolios/branches:
    get:
      operationId: listBranches
      summary: List Branches
      description: Retrieves branches for projects in the Polaris platform.
      tags:
      - Projects
      parameters:
      - name: projectId
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Branch list returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BranchList'
components:
  schemas:
    ProjectList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Project'
        meta:
          type: object
          properties:
            totalCount:
              type: integer
    BranchList:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
              projectId:
                type: string
    Project:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        organization:
          type: string
        createdAt:
          type: string
          format: date-time
        branches:
          type: array
          items:
            type: string
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key-based authentication
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.synopsys.com/oauth/token
          scopes:
            openlink: Access OpenLink API
