openapi: 3.2.0
info:
  title: Synopsys Polaris Reports API
  description: The Synopsys Polaris Software Integrity Platform API provides programmatic access to application security testing operations including project management, scan triggering, issue retrieval, and reporting. Polaris integrates with major SCMs and CI/CD systems to enable event-driven security testing automation.
  version: '1.0'
  contact:
    url: https://polaris.synopsys.com/developer/default/documentation
servers:
- url: https://polaris.synopsys.com/api/v1
  description: Polaris API
security:
- bearerAuth: []
tags:
- name: Reports
  description: Generate and retrieve security reports.
paths:
  /reports:
    post:
      operationId: generateReport
      summary: Generate Report
      description: Initiates generation of a security report for a project or branch.
      tags:
      - Reports
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportRequest'
      responses:
        '202':
          description: Report generation started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportJob'
  /reports/{reportId}:
    get:
      operationId: getReport
      summary: Get Report
      description: Retrieves a generated security report.
      tags:
      - Reports
      parameters:
      - name: reportId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Report content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
        '202':
          description: Report still generating
components:
  schemas:
    ReportJob:
      type: object
      properties:
        reportId:
          type: string
        status:
          type: string
          enum:
          - pending
          - generating
          - ready
    Report:
      type: object
      properties:
        reportId:
          type: string
        projectId:
          type: string
        format:
          type: string
        generatedAt:
          type: string
          format: date-time
        downloadUrl:
          type: string
    ReportRequest:
      type: object
      required:
      - projectId
      - format
      properties:
        projectId:
          type: string
        branchId:
          type: string
        format:
          type: string
          enum:
          - pdf
          - json
          - csv
        includeFixed:
          type: boolean
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Access token obtained from Polaris portal
